<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add event</title>
    <div th:replace="navbar :: headScripts"></div>
</head>
<body>
<div th:replace="navbar :: navBar"></div>

<br><br>


<form th:action="@{/addevent}" th:object="${newEventForm}" method="post">
    Title: <input type="text" th:field="*{eventTitle}" placeholder="Enter event title...">
    <span th:errors="*{eventTitle}"></span><br>
    Date from: <input type="date" th:field="*{eventDateFrom}" placeholder="Enter date from">
    <span th:errors="*{eventDateFrom}"></span>
    Date to: <input type="date" th:field="*{eventDateTo}" placeholder="Enter date to">
    <span th:errors="*{eventDateTo}"></span>
    <br>
    Content: <textarea th:field="*{eventBody}" rows="10" cols="100"></textarea>
    <span th:errors="*{eventBody}"></span>
    <br>
    <input type="submit" value="Add new event">
</form>



<p>
    <br>
    <br>



</p>
<!--<div>-->
<!--<p> Menu</p>-->
<!--    <ul>-->
<!--    <li><a th:href="@{/login}">Login</a></li>-->
<!--    <li><a th:href="@{/register}">Register</a></li>-->
<!--    </ul>-->
<!--</div>-->
<div th:replace="navbar :: footer"></div>

</body>
</html>
